name: asset_management-local

services:
    database:
        image: postgres:17.2-alpine
        volumes:
            - database:/var/lib/postgresql/data
        environment:
            - POSTGRES_PASSWORD=root
            - POSTGRES_USER=root
            - POSTGRES_DB=asset_management
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -d $$POSTGRES_DB"]
            interval: 30s
            timeout: 20s
            start_period: 1s
            start_interval: 5s
            retries: 5
        networks:
            - app
        ports:
            - 5432:5432

    redis:
        image: redis:8.4.0-alpine
        volumes:
            - ./infrastructure/redis/conf:/usr/local/etc/redis
            - redis-data:/data
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 1s
            timeout: 3s
            retries: 30
            start_period: 5s
        networks:
            - app
        ports:
            - 6379:6379

volumes:
    database:
    redis-data:

networks:
    app:
