name: asset_management-local

services:
    database:
        image: postgres:17.2-alpine
        volumes:
            - database:/var/lib/postgresql/data
        environment:
            - POSTGRES_PASSWORD=root
            - POSTGRES_USER=root
            - POSTGRES_DB=asset_management
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -d $$POSTGRES_DB"]
            interval: 30s
            timeout: 20s
            start_period: 1s
            start_interval: 5s
            retries: 5
        networks:
            - app
        ports:
            - 5432:5432

volumes:
    database:

networks:
    app:
